[submodule "src/github.com/cloudfoundry-incubator/docker-registry-acceptance-tests"]
	path = src/github.com/cloudfoundry-incubator/docker-cache-acceptance-tests/
	url = https://github.com/cloudfoundry-incubator/docker-registry-acceptance-tests
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
	branch = master
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/diego-cli-plugin"]
	path = src/github.com/cloudfoundry-incubator/diego-cli-plugin
	url = https://github.com/cloudfoundry-incubator/diego-cli-plugin.git
	branch = master
[submodule "src/github.com/cloudfoundry/cli"]
	path = src/github.com/cloudfoundry/cli
	url = https://github.com/cloudfoundry/cli.git
	branch = master
[submodule "src/github.com/simonleung8/cli-stack-changer"]
	path = src/github.com/simonleung8/cli-stack-changer
	url = https://github.com/simonleung8/cli-stack-changer.git
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/docker-cache-acceptance-tests"]
	path = src/github.com/cloudfoundry-incubator/docker-cache-acceptance-tests
	url = https://github.com/cloudfoundry-incubator/docker-cache-acceptance-tests.git
